body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
  /* background-color: #d6e4e5; */
  background-color: black;
}

.container {
  /* background-color: lightblue; */
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 100px;
  backdrop-filter: blur(10px);
  margin-top: 2em;
}

hr {
  border-top: none;
  border-width: 2px;
}

h1,
h2 {
  text-align: center;
  font-family: "Orbitron", sans-serif;

  text-align: center;
  color: white;
}

.h2 {
  margin-top: none;
}

.firstlook {
  font-family: "Orbitron", sans-serif;
  align-items: center;
  background-color: black;
  color: beige;
  padding: 1em;
  border-radius: 5px;
  margin-top: 2em;
  border: 1px solid wheat;
}

.time {
  display: inline-block;
  justify-items: center;
  text-align: center;
  background-color: rgb(20, 21, 21);
  padding: 8px;
}

.time-view {
  display: inline-block;
  justify-items: center;
  text-align: center;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

button {
  cursor: pointer;
}

.data {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 678px) {
  .container {
    flex-direction: column;
    gap: 1em;
  }
  .firstlook {
    max-width: 250px;
    justify-content: center;
    text-align: center;
    margin: 0% auto;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    padding: 2%;
  }

  .firstlook {
    padding: 5%;
  }

  h1,
  h2 {
    padding: 1em auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 1%;
  }

  .firstlook {
    padding: 3%;
  }

  h1,
  h2 {
    padding: 0.5em auto;
  }
}
